
  <h3>Let Us Know A Bit More About You</h3>
  <%= form_tag '/users' do %>
  
  <%= text_field_tag :interests %>
  <%= text_field_tag :collaborate %>
  <%= text_field_tag :coding_school %>
  <%= submit_tag 'submit' %>
  <% end %>
</div>
