<!DOCTYPE html>
<html>
<head>
  <title>BcBoards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href='/home'<button>Home</button></a> 
<a href='/events'<button>Events</button></a>
<a href='/users/:user_id/messages'<button>Messages</button></a>
<a href='/users/:id' <button>Profile</button></a>
<a href='/users/user_id/requests'<button>Requests</button></a>

 <%=button_to 'Sign Out', '/signout', method: :delete%>
<%= yield %>

</body>
</html>
